# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# OS files
.DS_Store

# IDE / editors
.vscode/
.idea/

# Django
staticfiles/
media/

# Environment variables
.env

# Logs
*.log

# SQLite (if not using)
db.sqlite3

# pytest / coverage
.coverage
htmlcov/
